*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Caveat", sans-serif;
}
body{
    background-color: #ffffff;
    padding: 25px;
    color: #333;
    width: 80%;
    margin: 0 auto;
}
.container{
    background-color: #b2f3bb;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #333 dotted 3px;
}
header{
    background-color: #fced99;
    padding: 0.5em 0.2em;
    width: 80%;
    border: #c2255c dotted 3px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
nav{
    background-color: #cfbffe;
    padding: 0.5em;
    width: 90%;
    border: #c2255c dotted 3px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
button{
    background-color: #e95f07;
    color: #333;
    padding: 0.2em 1em;
    border-color: #c2255c;
    border-radius: 10px;
    border-style: dotted;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}
main{
    background-color: #ffc9c9;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    border: #c2255c dotted 3px;
    border-radius: 20px;
    margin-bottom: 0.5em;
    font-size: 35px;
    font-weight: 600;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-container{
    background-color: #a4d8ff;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: #c2255c dotted 3px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}
ol{
    background-color: #feec98;
    padding: 0.6em;
    border: #c2255c dotted 3px;
    border-radius: 20px;
    font-size: 25px;
}
ul{
    background-color: #feec98;
    padding: 0.6em;
    border: #c2255c dotted 3px;
    border-radius: 20px;
    font-size: 25px;
}
dl{
    background-color: #feec98;
    padding: 0.6em;
    border: #c2255c dotted 3px;
    border-radius: 20px;
    font-size: 25px;
}
li{
    background-color: #fec9c9;
    padding: 0.5em;
    margin: 0.5em 0.5em;
    border: #c2255c dotted 3px;
    border-radius: 10px;
}
dt{
    background-color: #fec9c9;
    padding: 0.5em;
    border: #c2255c dotted 3px;
    border-radius: 10px;
    margin: 0.5em 0.5em;
}
dd{
    background-color: #b4efbd;
    padding: 0.5em;
    border: #c2255c dotted 3px;
    border-radius: 10px;
    margin: 0.5em 0.5em;
}
footer{ 
    background-color: #c2255c;
    color: black;
    padding: 0.5em 0.3em;
    width: 80%;
    justify-content: space-between;
    border: #333 dotted 3px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: 600;
    display: flex;
}
span{
    font-size: 30px;
    font-weight: 600;
}
.item-color{
    color: #c2255c;
    font-size: 20px;
    font-weight: 600;
}